@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

button {
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
button:hover {
  background-color: #555;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 20px 0;
}
h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 10px 0;
}
